body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,120,121,1) 35%, rgba(0,212,255,1) 100%);
    background-attachment: fixed;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
#form{
    width: 30%;
    margin: 15vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;
}
h1{
    text-align: center;
    color: #090d79;
}
#form button{
    background-color: #090d79;
    color: white;
    border: 1px solid #090d79;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
}
.input-group input:focus{
    outline: 0;
}
.input-group .error{
    color: red;
    font-size: 15px;
    margin-top: 5px;
}
.input-group.success input{
     border-color: green;
}
.input-group.error input{
    border-color: red;
}
